* {
    margin: 0px;
    padding: 0px;
}
.BIGcontainer1{
    height: 900px;
    width: 900px;
}
.BIGcontainer2{
    height: 500px;
    width: 500px
}
.Block {
    background-color: rgba(0, 0, 0, 0.74);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 20px;

}

.nav-links {

    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


.btn {
    background-color: blue;
    color: white;
    font-size: large;
    border: 10px;
    border-color: black;
}

.bartext {
    text-decoration: none;
    color: white;
}

.container {
    margin: 30px;
    height: 260px;
    width: 600px;
    border: solid rgb(179, 177, 177);

}

.bonde {
    background-color: rgb(12, 156, 156);
    width: 600px;
    height: 70px;
}

.flex {
    height: 150px;
    width: 600px;
    padding-left: 25px;
    padding-top: 25px;
    font-weight: bold;
    /* flex-direction: column;
    justify-content: space-between; */
}

.location,
.edit,
.main,
.flex {
    display: flex;
}

img {
    height: 15px;
    margin-right: 5px;
}

p {
    margin-left: 5px;
}

.position {
    height: 70px;
    position: absolute;
    top: 140px;
    left: 65px
}

a {
    color: rgb(73, 127, 188);
}

.flex {
    flex-direction: column;
    justify-content: space-between;
}

.Education {
    padding: 20px;
    height: 90px;
    width: 600px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.bonde2 {
    padding: 20px;
    width:605px;
    background-color: black;
    color: white;
}

.container3{
    height: 60px;
    width: 200px;
    border: solid black;
    padding: 5px;

}
.bonde3 {
    background-color: black;
    color: white;
    height: 30px;
    width: 190px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 5px;


}
.prof{
    display: flex;
    justify-content:space-between ;

}
.PROPIC {
    height: 30px;
}
.container4{
    height: 120px;
    width: 200px;
    border: solid black;
    padding: 5px;

}
.bonde4 {
    background-color: black;
    color: white;
    height: 30px;
    width: 190px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 5px;


}
/* .prof{
    display: flex;
    justify-content:space-between ;

} */
.PROPIC {
    height: 30px;
}
.flexi1{
    display: flex;
    flex-direction: column;
}
.flexi2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.JBOV{
    display: flex;
    justify-content: space-evenly;
}
#connectionRequest{
    margin-top: 60px;
}
#YourConnection{
    margin-top: 30px;
}