.nav {
    background-color: rgba(0, 0, 0, 0.74);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

}

.nav-links {

    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


.btn {
    background-color: blue;
    color: white;
    font-size: large;
    border: 10px;
    border-color: black;
}
.bartext {
    text-decoration: none;
    color: white;
}